In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("chapter0").getOrCreate()
sqlContext = SparkSession(spark)

#Only show error
spark.sparkContext.setLogLevel("ERROR")

In [3]:
csvdf = spark.read.format("csv").option("header","true").option("inferSchema","true").load("companies.csv")
csvdf.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Consulting Sales: string (nullable = true)
 |-- Software Sales: string (nullable = true)
 |-- Forecasted Growth: string (nullable = true)
 |-- Returns: string (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Account: string (nullable = true)

In [4]:
csvdf.show()

+-----+--------------------+----------------+--------------+-----------------+------------+-----+----+----+--------+----------+
|   ID|       Customer Name|Consulting Sales|Software Sales|Forecasted Growth|     Returns|Month| Day|Year|Location|   Account|
+-----+--------------------+----------------+--------------+-----------------+------------+-----+----+----+--------+----------+
|30940|     New Media Group|      IDR7125000|    IDR5500000|           30.00%|IDR1,500,000|    1|  10|2017| Jakarta|Enterprise|
|82391|     Li and Partners|       IDR420000|     IDR820000|           10.00%|  IDR400,000|    6|  15|2016| Jakarta|   Startup|
|18374|PT. Kreasi Metrik...|               0|     IDR550403|           25.00%|           0|    3|  29|2012|Surabaya|Enterprise|
|57531|PT. Algoritma Dat...|       IDR850000|     IDR395500|            4.00%|           0|    7|  17|2017| Jakarta|   Startup|
|19002|Palembang Konsult...|      IDR2115000|             0|          -15.00%|           0|    2|  24|2018| Bandung|   Startup|
|31142|PT. Surya Citra M...|       IDR960000|     IDR503000|           19.00%|           0|    1|  19|2019| Jakarta|Enterprise|
|12543|                NULL|            NULL|          NULL|             NULL|        NULL| NULL|NULL|NULL|    NULL|      NULL|
|11436|                NULL|            NULL|          NULL|             NULL|        NULL| NULL|NULL|NULL|    NULL|      NULL|
+-----+--------------------+----------------+--------------+-----------------+------------+-----+----+----+--------+----------+

In [5]:
#create temp table 

csvdf.createOrReplaceTempView("tempCSV")

In [6]:
# TRANSFORM
# test QUery SQL

sqlContext.sql("SELECT * \
               from tempCSV").show()

+-----+--------------------+----------------+--------------+-----------------+------------+-----+----+----+--------+----------+
|   ID|       Customer Name|Consulting Sales|Software Sales|Forecasted Growth|     Returns|Month| Day|Year|Location|   Account|
+-----+--------------------+----------------+--------------+-----------------+------------+-----+----+----+--------+----------+
|30940|     New Media Group|      IDR7125000|    IDR5500000|           30.00%|IDR1,500,000|    1|  10|2017| Jakarta|Enterprise|
|82391|     Li and Partners|       IDR420000|     IDR820000|           10.00%|  IDR400,000|    6|  15|2016| Jakarta|   Startup|
|18374|PT. Kreasi Metrik...|               0|     IDR550403|           25.00%|           0|    3|  29|2012|Surabaya|Enterprise|
|57531|PT. Algoritma Dat...|       IDR850000|     IDR395500|            4.00%|           0|    7|  17|2017| Jakarta|   Startup|
|19002|Palembang Konsult...|      IDR2115000|             0|          -15.00%|           0|    2|  24|2018| Bandung|   Startup|
|31142|PT. Surya Citra M...|       IDR960000|     IDR503000|           19.00%|           0|    1|  19|2019| Jakarta|Enterprise|
|12543|                NULL|            NULL|          NULL|             NULL|        NULL| NULL|NULL|NULL|    NULL|      NULL|
|11436|                NULL|            NULL|          NULL|             NULL|        NULL| NULL|NULL|NULL|    NULL|      NULL|
+-----+--------------------+----------------+--------------+-----------------+------------+-----+----+----+--------+----------+

In [7]:
## TRANSFORM, doing some aggregation and data cleaning
# test aggregation

csvdf_agg = sqlContext.sql("SELECT ID, SUM(INT(REPLACE(SUBSTR(Returns,4),',',''))) as Total_Returns\
               from tempCSV \
               where Returns is not null \
               group by ID").show()

+-----+-------------+
|   ID|Total_Returns|
+-----+-------------+
|19002|         NULL|
|30940|      1500000|
|82391|       400000|
|31142|         NULL|
|57531|         NULL|
|18374|         NULL|
+-----+-------------+

In [ ]:
# load

csvdf.write.format("csv").save("csvdata",mode='append')